body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table {
  border-collapse: collapse;
  margin:20px 35px 20px 35px;
  width: 85%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #ddd7d7}

th {
  background-color: #00929f;
  color: white;
}
  
input,select{
padding: 8px;
 
width: 200px;
margin-bottom: 20px;
}
.App {
display: flex;
flex-flow: column;
align-items: center;
justify-content: center;
}
.login{
  margin-bottom: 30px;
  display: flex;
  flex-flow: column;align-items: center;
  justify-content: center;
}
.edit{
  background-color: green;
  border: 1px solid green;
  color: white;
  padding: 5px 10px;
}
.delete{
  background-color: red;
  border: 1px solid red;
  color: white;
  padding: 5px 10px;
}
.delete:hover{
  background-color: transparent;
  border: 1px solid red;
  color: black;
}
.edit:hover{
  background-color: transparent;
  border: 1px solid green;
  color: black;
}
ul{
  display: flex;
  list-style: none;
  background-color: #00929f;
  color: white;
  font-weight: 900;
  
}
/* a:-webkit-any-link{
  text-decoration: none;
  color: white;
} */
li{
   padding: 12px;
}
a:any-link:active{
  background-color: brown;
}